md-tab-label Today's Schedule
md-tab-body
  div(layout-padding layout="column" layout-fill  flex-gt-sm="50") 
    div.md-headline(ng-bind="getTodayDate()")
    md-list()
      md-list-item(ng-repeat="item in settings.selectedSchedule.events | filter : todayFilter | orderBy : sortStartDate : false" layout="column" layout-align="top left" ) 

        
        div() {{item.summary}}
        div 
          span {{formatUtcDateString(item.start,'hh:mm')}} 
          span(ng-if="item.start !== item.end") - {{formatUtcDateString(item.end,'hh:mm')}}
    p 
    p
    p