doctype html
html
  include head.pug
  body(ng-app='scheduleApp', ng-controller='appController', ng-cloak)
    div(layout="column" layout-fill layout-align="center center")
      div.md-display-2(ng-cloak) {{schedule.name}}
      div.md-headline(ng-bind="getTodayDate()" ng-cloak)
      div.list(layout="column"  layout-align="center center")
        div.list-item(layout-fill layout="row" layout-align="space-between center"  ng-repeat="event in events | filter : todayFilter | orderBy : sortStartDate : false")
          div {{event.summary}}
          div {{ formatDateString(event.start,'hh:mm') }} - {{ formatDateString(event.end,'hh:mm' )}}


    include footer.pug