* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
style {
  display: none;
}
script {
  display: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 40px;
  position: relative;
  font-size: 2vw;
}
body {
  background-color: #000;
  color: #fff;
}
body .list {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}
body .list .list-item {
  margin: 40px;
  border-bottom: 1px solid #dedede;
}
